
  .appointment-form .form-control {
    border: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    height: 58px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .form-control {
    height: 58px !important;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: transparent !important;
    border-bottom: 1px solid rgba(224, 235, 240, 0.08);
    padding-right: 0;
    padding-left: 0;
  }
  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1;
    /* Firefox */
  }
 

 
 
  /* order style */
 
  input {
    padding: 5px;
    margin-bottom: 10px;
  }

  #formm {
    background-image: url(image/b4.jpg);
    color: aliceblue;
    /* width: fit-content; */
    margin: auto;
    text-align: center;
    margin: 1px;
  }
  p label {
    padding-top: 5px;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  .text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-100%, -50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  .card {
    background-color: transparent;
    color: #ffff;
  }
/* menu css */
.image-container-m {
  position: relative;
  display: inline-block;
}
.text-overlay-m {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-140%, -50%);
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
 
}
.mBG{
  background-image: url(image/b4.jpg);
  padding-bottom: 5px;
margin-bottom: 2px;
}
/* about css */
#welc{
  background-image:url(image/b4.jpg);
}


